@media only screen and (max-width:1260px){ 

  }
  
  @media only screen and (max-width:992px){
    .header .header-text{
        text-align: center;
    }
    nav.popUp{
        width: 45vw;
    }
    .menuBtn{
        z-index: 500;
        box-shadow: none;
        filter: none;
        width: 0;
        height: 0;
    }
    .menuBtn span{
        background: white;
    }
  }

  @media only screen and (max-width:768px){ 
    nav.popUp{
        width: 65vw;
    }
    main .block-two.active .block-two__text, main .block-three.active .block-two__text{
        left: 0;
        right: 0;
    }
    main .block-three.active .block-two__button{
        width: 100%;
        gap: 5px;
        left: 0%;
        right: 0;
        text-align: center;
        height: 100vh !important;
        padding-bottom: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    main .block-three.active {
        transition:1.5s;
    }
    main .block-three.active .block-two__text{
        padding-bottom: 30px;
    }
    main .block-four.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100vh;
    }
    main .block-four.active .bg-video3{
        object-position: 80%;
    }
    main .block-four.active .block-two__text{
        right: 20px;
        left: auto;
    }
    main .block-four.active .block-two__text p{
        width: 230px;
    }

  }

  /* МОБИЛКА*/
  @media only screen and (max-width:570px){  
    .engBtn{
        margin-bottom: 100px !important;
    }
    .rusBtn{
        margin-bottom: -150px !important;
    }
    .header .header-text h1{
        font-size: 70px;
    }
    .header .header-text h2{
        margin-top: 0px;
        font-size: 50px;
    }
    nav.popUp{
        width: 85vw;
    }
    .header img{
        width: 130px;
    }
    main .block-three.active .block-two__text{
        margin-top: 30px;
    }
    main .block-two.active .block-two__text{
        margin-top:50px;
    }
    main .block-two.active .block-two__text p, main .block-three.active .block-two__text p, main .block-four.active .block-two__text p{
        width: 100%;
    }
    main .block-four.active .block-two__text{
        right: 0px;
        margin-top:50px;
    }
   
    main .block-three.active{
        transform: scale(1);
    }
    main .block-three.active .block-two__button button{
        width: 100%;
        font-size: 15px;
        margin-top: 10px;

    }
    .footer-logo img{
        width: 200px;
    }

    footer.footerActive .policy{
        position: fixed ; 
        bottom: 100px;
        top: auto; 
        left: 0;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    footer.footerActive .bott{
        bottom: 60px;
    }

    footer.footerActive .footer-block{
        justify-content: center;
        gap: 50px;
    }
    .link-contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100px;
        gap: 20px;
        align-items: center;
    }
    footer.footerActive .footer-contacts a span{
        display: none;
    }
    footer.footerActive .footer-link{
        gap: 10px;
    }
    .scroll{
        bottom: 10px;
    }
    .desktop{
        display: none;
    }
    main .block-four.active .block-two__button .mobile{
        display: block ;
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
        top: 300px;
    }
    main .block-four.active .block-two__button{
        gap: 5px;
        left: 0%;
        right: 0px;
        height: 100vh !important;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
  }
  @media only screen and (max-width:400px){
    .header .header-text h1{
        font-size: 60px;
    }
    .header .header-text h2{
        font-size: 40px;
    }
    nav.popUp{
        width: 90vw;
    }
  }
  @media only screen and (max-width:320px){
   
  }
  