@charset "UTF-8";
* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Space Ranger", sans-serif;
}

::-webkit-scrollbar {
  background: black;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: black;
  width: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 100%;
}

.pruning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -100;
  opacity: 0;
}
.pruning.active {
  opacity: 1;
}

.pruning-reverse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -100;
  opacity: 0;
}
.pruning-reverse.active-reverse {
  opacity: 1;
}

.header {
  opacity: 1;
  transition: 0.4s;
}
.header img {
  margin: 20px;
}
.header.removeBlock {
  opacity: 0;
  transition: 0.4s;
}

.menuBtn.active span:nth-of-type(1) {
  display: none;
}

.menuBtn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menuBtn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menuBtn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  top: 40px;
  box-shadow: -1px 5px 30px 15px white;
  filter: drop-shadow(1px 1px 1px white);
  padding-left: 30px;
}

nav {
  display: none;
}

.menuBtn span {
  margin-top: 10px;
  width: 30px;
  height: 3px;
  transform: translate(-50%, -50%);
  background: rgb(56, 56, 56);
  transition: all 0.5s;
  border-radius: 2px;
  position: absolute;
}

.menuBtn span:nth-of-type(2) {
  top: calc(35% - 15px);
}

.menuBtn span:nth-of-type(3) {
  top: calc(60% + 3px);
}

.bg-video1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* Определяем, что все другие элементы на странице будут поверх видео */
  z-index: -100;
  -webkit-animation: approximation 20s linear infinite;
          animation: approximation 20s linear infinite;
}

@-webkit-keyframes approximation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes approximation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}
nav.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(36, 35, 34);
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 25vw;
  -webkit-animation-duration: 0.55s;
          animation-duration: 0.55s; /* Время работы анимации */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; /* Поведение анимации */
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown; /* Имя анимации */
}
nav.popUp ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 15px;
  line-height: 50px;
}
nav.popUp li {
  list-style-type: none;
}
nav.popUp a {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

@-webkit-keyframes fadeInDown { /* Сама анимация */
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown { /* Сама анимация */
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
nav {
  display: none;
}

.header-block img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header-text {
  color: white;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text h1 {
  font-size: 140px;
}
.header-text h2 {
  margin-top: -15px;
  font-size: 80px;
}

.scroll {
  color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
}
.scroll .scroll-line {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-animation: line 1.5s linear infinite;
          animation: line 1.5s linear infinite;
}
.scroll .scroll-line span {
  width: 30px;
  height: 3px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
}
.scroll .scroll-line span:nth-of-type(1) {
  transform: rotate(45deg);
  left: 0;
}
.scroll .scroll-line span:nth-of-type(2) {
  transform: rotate(-45deg);
  right: -10px;
}

@-webkit-keyframes line {
  0% {
    transform: translate3d(0%, -10px, 0px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translate3d(0%, -10px, 0px);
  }
}

@keyframes line {
  0% {
    transform: translate3d(0%, -10px, 0px);
  }
  50% {
    transform: none;
  }
  100% {
    transform: translate3d(0%, -10px, 0px);
  }
}
@-webkit-keyframes approximation2 {
  0% {
    transform: scale(1.13);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes approximation2 {
  0% {
    transform: scale(1.13);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}
main .block-two {
  opacity: 0;
}
main .block-two.active {
  opacity: 1;
  transition: 0.5s;
}
main .block-two.active .bg-video2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Определяем, что все другие элементы на странице будут поверх видео */
  z-index: -100;
  -webkit-animation: approximation2 40s linear infinite;
          animation: approximation2 40s linear infinite;
  transform: scale(1.13);
}
main .block-two .block-two__text {
  position: absolute;
  top: 200px;
  left: 150px;
  border-radius: 20px;
  padding: 30px;
  background: linear-gradient(265.41deg, #646464 0%, rgba(123, 123, 123, 0) 100%, #000000 20%);
  color: white;
  font-family: "Space Ranger", sans-serif;
  line-height: 20px;
}
main .block-two .block-two__text p {
  width: 420px;
  font-family: "Space Ranger", sans-serif;
}
main .block-two .scroll-line {
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  -webkit-animation: line 1.5s linear infinite;
          animation: line 1.5s linear infinite;
}
main .block-two .scroll-line span {
  width: 30px;
  height: 3px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
}
main .block-two .scroll-line span:nth-of-type(1) {
  transform: rotate(45deg);
  left: 0;
}
main .block-two .scroll-line span:nth-of-type(2) {
  transform: rotate(-45deg);
  right: -10px;
}/*# sourceMappingURL=style.css.map */