@font-face {
    font-family: 'Space Ranger';
    src: url(/spaceranger-rus.otf);
}
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
::-webkit-scrollbar{
    background: black;
    width: 1px;
  }
::-webkit-scrollbar-thumb{
    background: black;
    width: 1px;
}
html {
    scroll-behavior: smooth;
  }
body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-color:#201E1D;
}
.body-no-scroll {
    overflow: hidden;
}

#eng{
    opacity: 0;
    &.showEng{
        opacity: 1;
        z-index: 50;
    }
}
#rus{
    opacity: 1;
    z-index: 50;
    &.showRus{
        opacity: 0;
    }
}
.language{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    right: 0;
    width: 50px;
    padding: 5px;
    font-size: 15px;
    background-color: #201E1D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: #5A5856;
    }
}
.pruning{
    opacity: 0;
    &.active{
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
        object-position: bottom;
        object-fit: cover;
    }
}
.pruning2{
    opacity: 0;
    &.active{
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
        object-position: bottom;
        object-fit: cover;
    }
}
.pruning3{
    opacity: 0;
    &.active{
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        object-position: bottom;
        object-fit: cover;
    }
}
.pruningOne-reverse{
    opacity: 0;
 //   transition: .5s;
    &.activeOneReverse{
   //     transition: .5s;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
        object-position: bottom;
        object-fit: cover;
    }
}
.pruningTwo-reverse{
    opacity: 0;
    &.activeReverse{
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
        object-position: bottom;
        object-fit: cover;
    }
}
.pruningThree-reverse{
    opacity: 0;
    &.activeThreeReverse{
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
        object-position: bottom;
        object-fit: cover;
        transition: 1s;
    }
}
.header{
    opacity: 1;
    transition: .4s;
    img{
        margin: 20px;
        position: fixed;
        top: 0;
    }
    &.removeBlock{
        opacity: 0;
        transition: .4s;
    }
    .bg-video1{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        /* Определяем, что все другие элементы на странице будут поверх видео */
        z-index: -100;
        animation: approximation 20s linear infinite;
        object-position: bottom;
        object-fit: cover;
    }
    .header-text{
        color: white;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        h1{
            font-size: 140px;
            font-family: 'Space Ranger', sans-serif;
        }
        h2{
            font-size: 80px;
            font-family: 'Space Ranger', sans-serif;
        }
    }
}

@keyframes approximation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
      //  transform-origin: bottom right;
    }
    100%{
        transform: scale(1.5);
    }
}

.menuBtn.active span:nth-of-type(1) {
    display: none;
  }
.menuBtn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menuBtn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  .menuBtn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 40px;
    top:40px;
   -webkit-box-shadow: -1px 5px 30px 15px white;
    -moz-box-shadow: -1px 5px 30px 15px white;
    box-shadow: -1px 5px 30px 15px white;
    filter: drop-shadow(1px 1px 1px white);
    // background: rgb(250, 250, 250, 1); 
    z-index: 100;
    padding-left: 30px;
  }
  nav{
    display: none;
  }
  .menuBtn span {
    margin-top: 10px;
    width: 30px;
    height: 3px;
    transform: translate(-50%, -50%);
    background: rgba(56, 56, 56, 1);
    transition: all 0.5s;
    border-radius: 2px;
    position: absolute;
  }
  
  .menuBtn span:nth-of-type(2) {
  
    top: calc(35% - 15px);
  }
  
  .menuBtn span:nth-of-type(3) {
  
    top: calc(60% + 3px);
  }

nav.popUp{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: rgba(36, 35, 34, 1);
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 25vw;
        animation-duration: 0.55s;  /* Время работы анимации */
        animation-fill-mode: both;  /* Поведение анимации */
        animation-name: fadeInDown;/* Имя анимации */
        z-index: 100;
        padding-top: 20px;
        ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin-left: 15px;
            line-height: 50px;
        }
        li{
            list-style-type: none;
            font-family: 'Space Ranger', sans-serif;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 25px;
        }
        .eng{
            position: absolute;
            margin-top: 50px;
            a{
                font-size: 25px;
            }
        }
  } 
  
  
  @keyframes fadeInDown { /* Сама анимация */
    0% {                /* Старт анимации */
        opacity: 0;
        transform: translate3d(100%, 0px, 0px);
    }
    100% {              /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
    }
}
nav{
    display: none;
}
.header-block{
    img{
        object-fit: cover;
    }
}



.scroll{
    color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .scroll-line{
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
        animation: line 1.5s linear infinite;
        span{
            width: 30px;
            height: 3px;
            background: white;
            position: absolute;
            top: 0;
            bottom: 0;
            &:nth-of-type(1){
                transform: rotate(45deg);
                left: 0;
            }
            &:nth-of-type(2){
                transform: rotate(-45deg);
                right: -10px;
            }
        }
    }
}
@keyframes line {
    0%{
        
        transform: translate3d(0%, -10px, 0px);
    }   
    50%{
       
        transform: none;
    }
    100%{
       
        transform: translate3d(0%, -10px, 0px);
    }
}
@keyframes approximation2 {
    0%{
        transform: scale(1.13);
    }
    50%{
        transform: scale(1.2);
      //  transform-origin: bottom right;
    }
    100%{
        transform: scale(1.5);
    }
}
main{
    height: 100vh;
    .block-two{
        opacity: 0;
        transition: .4s;
        &.active{
            opacity: 1;
            transition: .4s;
            .bg-video2{
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100vh;
                /* Определяем, что все другие элементы на странице будут поверх видео */
                z-index: -100;
                animation: approximation2 40s linear infinite;
                transform: scale(1.13);
                transform-origin: bottom;
                object-position: bottom;
                object-fit: cover;
            }
            .block-two__text{
                position: fixed;
                top: 100px;
                left: 150px;
                padding: 30px;
                border-radius: 20px;
                background-color:rgba(52, 49, 47, 0.7);
                border: 0.5px solid  #505050;
                line-height: 20px;
                p{
                    color: white;
                    width: 420px;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                }
            }
        }
        
        
    }
    
 
    .block-three{
        opacity: 0;
        transition: .2s;
        &.active{
            opacity: 1;
            transition: .2s;
            position: fixed;
            z-index: 20;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url(/img/3_robots.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
            .block-two__text{
                position: fixed;
                top: 100px;
                left: 150px;
                padding: 30px;
                padding-bottom: 10px;
                border-radius: 20px;
                background-color:rgba(52, 49, 47, 0.7);
                border: 0.5px solid  #505050;
                line-height: 20px;
                p{
                    color: white;
                    opacity: 1;
                    width: 420px;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                }
            }
            .block-two__button{
                position: fixed;
                top: 290px;
                left: 150px;
                font-family: 'Space Ranger', sans-serif;
                line-height: 20px;
                button{
                    font-family: 'Space Ranger', sans-serif;
                    width: 240px;
                    padding: 15px;
                    background: linear-gradient(180deg, #FFFCFC 2.67%, #5A5856 61.97%, #201E1D 91.67%);
                    border: 2px solid linear-gradient(180deg, #292929 0%, #A0A0A0 50.6%, #C2C2C2 100%);
                    border-radius: 15px;
                    font-size: 18px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: inset 1px 1px 5px black;
                    }
                }
            }
        }
        
        
    }


    .block-four{
        opacity: 0;
    //    transition: .3s;
        &.active{
            
            opacity: 1;
    //        transition: .5s;
            .bg-video3{
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100vh;
                /* Определяем, что все другие элементы на странице будут поверх видео */
                z-index: -100;
                animation: approximation 130s linear infinite;
                object-position: bottom;
                object-fit: cover;
            }
            .block-two__text{
                position: fixed;
                top: 100px;
                left: 150px;
                padding: 30px;
                border-radius: 20px;
                background-color:rgba(52, 49, 47, 0.7);
                border: 0.5px solid  #505050;
                line-height: 20px;
                p{
                    color: white;
                    width: 300px;
                    font-family: "Inter", sans-serif;
                    font-weight: 400;
                }
            }
            .block-two__button{
                position: fixed;
                top: 250px;
                left: 150px;
                font-family: 'Space Ranger', sans-serif;
                line-height: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                button{
                    font-family: 'Space Ranger', sans-serif;
                    width: 270px;
                    padding: 15px;
                    background: linear-gradient(180deg, #FFFCFC 2.67%, #5A5856 61.97%, #201E1D 91.67%);
                    border: 2px solid linear-gradient(180deg, #292929 0%, #A0A0A0 50.6%, #C2C2C2 100%);
                    border-radius: 15px;
                    font-size: 18px;
                    cursor: pointer;
                    &:hover{
                        box-shadow: inset 1px 1px 5px black;
                    }
                }
            }
        }
        
        
    }
}
@keyframes showFooter {
     0% {               
        opacity: 0;
        transform: translate3d(0%, 100%, 0px);
    }
    100% {              
        opacity: 1;
        transform: none;
    }
}

@keyframes hideFooter {
    0% {               
        opacity: 1;
        transform: none;
    }
    100% {              
        opacity: 0;
        transform: translate3d(0%, 100%, 0px);
    }
}
footer{
    opacity: 0;
    transition: .3s;
    animation: hideFooter .3s linear;
    animation-direction: reverse; /* Default direction for hiding */
    &.footerActive{
        transition: .3s;
        opacity: 1;
        background-image: url(/img/1.png);
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        z-index: -100;
        background-position: center;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        animation: showFooter .3s linear;
        animation-direction: normal; /* Specify normal direction for showing */
        .policy{
            margin-left: 90px;
            width: 100px;
        }
        .footer-link{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 90px;
            color:#F2F2F2;
            gap: 30px;
            line-height: 30px;
        }
        a{
            text-decoration: none;
            color: #F2F2F2;
            font-size: 20px;
            font-weight: 200;
            font-family: "Inter", sans-serif;
        }
        h2{
            font-size: 20px;
            margin-top: 90px;
            font-family: 'Space Ranger', sans-serif;
        }
        
        .bott{
            position: absolute;
            color: #F2F2F2;
            bottom: 10px;
            width: 100%;
            text-align: center;
        }
        .footer-other{
            margin-top: 95px;
        }
        .eng{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }
        .dop{
            display: none;
        }
        .footer-block{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 130px;
    
        }
    }
}
